@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ptd-black-rgb: 29, 29, 29; /* 삐약ToDo 검정 */
  --primary-rgb: 255, 221, 111; /* 삐약ToDo 메인컬러 : 노란색 */
  --secondary-dark-rgb: 255, 184, 0; /* 삐약ToDo 서브컬러 : 진한 노란색 */
  --secondary-light-rgb: 254, 236, 144; /* 삐약ToDo 서브컬러 : 연한 노란색 */
  --real-white-rgb: 255, 255, 255; /* 진짜 하양 */
  --ptd-white-rgb: 249, 249, 249; /* 삐약ToDo 하양 */
  --ptd-light-grey-rgb: 239, 236, 229; /* 삐약ToDo 연한 회색 */
  --ptd-dark-grey-rgb: 87, 87, 87; /* 삐약ToDO 진한 회색 */
  --divider-rgb: 226, 226, 226; /* 구분선 색상 */
  --ptd-red-rgb: 255, 81, 81; /* 삐약ToDo 빨강 */
  --ptd-blue-rgb: 70, 133, 255; /* 삐약ToDo 파랑 */
}

/* 다크모드 설정
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

body {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: rgb(var(--ptd-black-rgb));
  background: rgb(var(--real-white-rgb));
}

#detail {
  margin-left: 250px;
  padding: 20px;
}
